body {
  background-color: purple;
}
.EightBall {
  display: flex;
  position: relative;
  height: 300px;
  width: 300px;
  border: 2px solid;
  border-radius: 200px;
  color: white;
  margin: 5px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(119, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
